/SEMANA11/Practica/QuickSort/nbproject/private/
/SEMANA11/Practica/QuickSort/build/
/SEMANA11/Practica/S09.s1_figuras_interfaces/nbproject/private/
/SEMANA11/Practica/AlgoritmoShell/nbproject/private/
/SEMANA11/Practica/AlgoritmoShell/build/
/SEMANA12/Practica/BusquedaBinaria/nbproject/private/
/SEMANA12/Practica/BusquedaBinaria/build/
